<?xml version="1.0" encoding="UTF-8"?>

<suite name="regression PW" thread-count="2" parallel="tests" verbose="4">
  <test name="HomePage Test">
    <classes>
      <class name="com.test.playwright.HomPageTest"/>
    </classes>
  </test> 
  
  <test name="LoginPage Test">
    <classes>
      <class name="com.test.playwright.LoginPageTest"/>
    </classes>
  </test> 
</suite> 
