<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regression PW" thread-count="2" parallel="tests" verbose="4">
  <test name="HomePage Test">
    <classes>
      <class name="com.test.playwright.HomPageTest"/>
    </classes>
  </test> 
  
  <test name="LoginPage Test">
    <classes>
      <class name="com.test.playwright.LoginPageTest"/>
    </classes>
  </test> 
</suite> 
